doctypes/oasis/1.3/rnc/learning/rnc/learningMetadataDomainMod.rnc

# 
# =============================================================
#                    HEADER                                    
# =============================================================
#  MODULE:    DITA Learning Metadata Domain                    
#  VERSION:   1.2                                              
#  DATE:      November 2009                                    
#                                                              
# =============================================================
# 
# =============================================================
#                    PUBLIC DOCUMENT TYPE DEFINITION           
#                    TYPICAL INVOCATION                        
#                                                              
#  Refer to this file by the following public identfier or an 
#       appropriate system identifier 
# PUBLIC "-//OASIS//ELEMENTS DITA Learning Metadata Domain//EN"
#       Delivered as file "learningMetadataDomain.mod"              
# 
# =============================================================
# SYSTEM:     Darwin Information Typing Architecture (DITA)    
#                                                              
# PURPOSE:    Declaring the elements and specialization        
#             attributes for Learning Metadata                 
#                                                              
# ORIGINAL CREATION DATE:                                      
#             May 2007                                         
#                                                              
#             (C) Copyright OASIS Open 2007, 2009.             
#             All Rights Reserved.                             
# =============================================================
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# - LOM Metadata
# - Based on IEEE LOM. Scott Hudson
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  
# 
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace dita = "http://dita.oasis-open.org/architecture/2005/"

learningmeta-d-metadata = lcLom.element
metadata |= learningmeta-d-metadata
lomStructure = lomStructure.element
lomCoverage = lomCoverage.element
lomAggregationLevel = lomAggregationLevel.element
lomTechRequirement = lomTechRequirement.element
lomInstallationRemarks = lomInstallationRemarks.element
lomOtherPlatformRequirements = lomOtherPlatformRequirements.element
lomInteractivityType = lomInteractivityType.element
lomLearningResourceType = lomLearningResourceType.element
lomInteractivityLevel = lomInteractivityLevel.element
lomSemanticDensity = lomSemanticDensity.element
lomIntendedUserRole = lomIntendedUserRole.element
lomContext = lomContext.element
lomTypicalAgeRange = lomTypicalAgeRange.element
lomDifficulty = lomDifficulty.element
lomTypicalLearningTime = lomTypicalLearningTime.element
lcLom.content = (lomStructure?, lomCoverage?, lomAggregationLevel?, lomTechRequirement?, lomInstallationRemarks?, lomOtherPlatformRequirements?, lomInteractivityType?, lomLearningResourceType?, lomInteractivityLevel?, lomSemanticDensity?, lomIntendedUserRole?, lomContext?, lomTypicalAgeRange?, lomDifficulty?, lomTypicalLearningTime?), data*
lcLom.attributes = univ-atts, 
attribute mapkeyref { text}?
lcLom.element = 
element lcLom {lcLom.attlist, lcLom.content}
lcLom.attlist &= lcLom.attributes
lomStructure.content = ( text  | \text)*
lomStructure.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("atomic" | "branched" | "collection" | "hierarchical" | "linear" | "mixed" | "networked" | "parceled" | "-dita-use-conref-target")}
lomStructure.element = 
element lomStructure {lomStructure.attlist, lomStructure.content}
lomStructure.attlist &= lomStructure.attributes
lomCoverage.content = ( text  | \text)*
lomCoverage.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value { text}?
lomCoverage.element = 
element lomCoverage {lomCoverage.attlist, lomCoverage.content}
lomCoverage.attlist &= lomCoverage.attributes
lomAggregationLevel.content = ( text  | \text)*
lomAggregationLevel.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute outputclass { text}?, 
attribute value {("1" | "2" | "3" | "4" | "-dita-use-conref-target")}
lomAggregationLevel.element = 
element lomAggregationLevel {lomAggregationLevel.attlist, lomAggregationLevel.content}
lomAggregationLevel.attlist &= lomAggregationLevel.attributes
lomTechRequirement.content = ( text  | \text)*
lomTechRequirement.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute outputclass { text}?, 
attribute value {("pc-dos" | "ms-windows" | "macos" | "unix" | "multi-os" | "none" | "any" | "netscapecommunicator" | "ms-internetexplorer" | "opera" | "amaya" | "-dita-use-conref-target")}
lomTechRequirement.element = 
element lomTechRequirement {lomTechRequirement.attlist, lomTechRequirement.content}
lomTechRequirement.attlist &= lomTechRequirement.attributes
lomInstallationRemarks.content = ( text  | \text)*
lomInstallationRemarks.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value { text}?
lomInstallationRemarks.element = 
element lomInstallationRemarks {lomInstallationRemarks.attlist, lomInstallationRemarks.content}
lomInstallationRemarks.attlist &= lomInstallationRemarks.attributes
lomOtherPlatformRequirements.content = ( text  | \text)*
lomOtherPlatformRequirements.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value { text}?
lomOtherPlatformRequirements.element = 
element lomOtherPlatformRequirements {lomOtherPlatformRequirements.attlist, lomOtherPlatformRequirements.content}
lomOtherPlatformRequirements.attlist &= lomOtherPlatformRequirements.attributes
lomInteractivityType.content = ( text  | \text)*
lomInteractivityType.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("active" | "expositive" | "mixed" | "-dita-use-conref-target")}
lomInteractivityType.element = 
element lomInteractivityType {lomInteractivityType.attlist, lomInteractivityType.content}
lomInteractivityType.attlist &= lomInteractivityType.attributes
lomLearningResourceType.content = ( text  | \text)*
lomLearningResourceType.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("exercise" | "simulation" | "questionnaire" | "diagram" | "figure" | "graph" | "index" | "slide" | "table" | "narrativetext" | "exam" | "experiment" | "problemstatement" | "selfassessment" | "lecture" | "-dita-use-conref-target")}
lomLearningResourceType.element = 
element lomLearningResourceType {lomLearningResourceType.attlist, lomLearningResourceType.content}
lomLearningResourceType.attlist &= lomLearningResourceType.attributes
lomInteractivityLevel.content = ( text  | \text)*
lomInteractivityLevel.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("verylow" | "low" | "medium" | "high" | "veryhigh" | "-dita-use-conref-target")}
lomInteractivityLevel.element = 
element lomInteractivityLevel {lomInteractivityLevel.attlist, lomInteractivityLevel.content}
lomInteractivityLevel.attlist &= lomInteractivityLevel.attributes
lomSemanticDensity.content = ( text  | \text)*
lomSemanticDensity.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("verylow" | "low" | "medium" | "high" | "veryhigh" | "-dita-use-conref-target")}
lomSemanticDensity.element = 
element lomSemanticDensity {lomSemanticDensity.attlist, lomSemanticDensity.content}
lomSemanticDensity.attlist &= lomSemanticDensity.attributes
lomIntendedUserRole.content = ( text  | \text)*
lomIntendedUserRole.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("teacher" | "author" | "learner" | "manager" | "-dita-use-conref-target")}
lomIntendedUserRole.element = 
element lomIntendedUserRole {lomIntendedUserRole.attlist, lomIntendedUserRole.content}
lomIntendedUserRole.attlist &= lomIntendedUserRole.attributes
lomContext.content = ( text  | \text)*
lomContext.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("school" | "highereducation" | "training" | "other" | "-dita-use-conref-target")}
lomContext.element = 
element lomContext {lomContext.attlist, lomContext.content}
lomContext.attlist &= lomContext.attributes
lomTypicalAgeRange.content = ( text  | \text)*
lomTypicalAgeRange.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value { text}
lomTypicalAgeRange.element = 
element lomTypicalAgeRange {lomTypicalAgeRange.attlist, lomTypicalAgeRange.content}
lomTypicalAgeRange.attlist &= lomTypicalAgeRange.attributes
lomDifficulty.content = ( text  | \text)*
lomDifficulty.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value {("veryeasy" | "easy" | "medium" | "difficult" | "verydifficult" | "-dita-use-conref-target")}
lomDifficulty.element = 
element lomDifficulty {lomDifficulty.attlist, lomDifficulty.content}
lomDifficulty.attlist &= lomDifficulty.attributes
lomTypicalLearningTime.content = ( text  | \text)*
lomTypicalLearningTime.attributes = 
attribute name { text}?, 
attribute datatype { text}?, univ-atts, 
attribute value { text}?
lomTypicalLearningTime.element = 
element lomTypicalLearningTime {lomTypicalLearningTime.attlist, lomTypicalLearningTime.content}
lomTypicalLearningTime.attlist &= lomTypicalLearningTime.attributes
lcLom.attlist &= global-atts, 
attribute class { text}?
lomCoverage.attlist &= global-atts, 
attribute class { text}?
lomStructure.attlist &= global-atts, 
attribute class { text}?
lomAggregationLevel.attlist &= global-atts, 
attribute class { text}?
lomTechRequirement.attlist &= global-atts, 
attribute class { text}?
lomInstallationRemarks.attlist &= global-atts, 
attribute class { text}?
lomOtherPlatformRequirements.attlist &= global-atts, 
attribute class { text}?
lomInteractivityType.attlist &= global-atts, 
attribute class { text}?
lomLearningResourceType.attlist &= global-atts, 
attribute class { text}?
lomInteractivityLevel.attlist &= global-atts, 
attribute class { text}?
lomSemanticDensity.attlist &= global-atts, 
attribute class { text}?
lomIntendedUserRole.attlist &= global-atts, 
attribute class { text}?
lomContext.attlist &= global-atts, 
attribute class { text}?
lomTypicalAgeRange.attlist &= global-atts, 
attribute class { text}?
lomDifficulty.attlist &= global-atts, 
attribute class { text}?
lomTypicalLearningTime.attlist &= global-atts, 
attribute class { text}?